<div class="container-fluid">
   <div class="row">
      <div class="col-10">
         <div class="btn-fixed-control">
            <button type="button" class="btn btn-primary" (click)="show_spot_modal('#infospot-modal')">i</button>
            <button type="button" class="btn btn-success" (click)="show_spot_modal('#hotspot-modal')">h</button>
         </div>
         <div id="progress"></div>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="infospot-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CREATION D'UN INFOSPOT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form (ngSubmit)="on_submit_infospot(f_spot)" #f_spot="ngForm" class="row">
               <input type="text" name="t" ngModel placeholder="Entrer l'information de l'infospot!" class="col-8">
               <button type="submit" class="btn btn-primary col-4">Ajouter un infospot</button>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="hotspot-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CREATION D'UN HOTSPOT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row">
               <!-- <form (ngSubmit)="on_submit_hspot(f)" #f="ngForm" class="col-12">
                  <input type="text" name="t" [(ngModel)]="inputInfospot">
                  <button type="submit" class="btn btn-primary">créer</button>
               </form> -->

               <div class="col-12">
                  <div class="row">

                     <div class="col-12" id="img-list">
                        <div class="row">
                           <div class="col-4" (click)="select_next_image(i)" *ngFor="let _pano of pano_img; let i=index"
                              [ngStyle]="{ display: set_display(i) }">
                              <img [src]="_pano" [alt]="_pano">
                           </div>
                        </div>
                     </div>

                     <!-- <div class="col-4" (click)="select_next_image(i)" *ngFor="let _pano of pano_img; let i=index"
                        style="margin: 0px; padding: 0px">
                        <div class="row">
                           <div class="col-12" *ngIf="i != now_img">
                              <img [src]="_pano" [alt]="_pano" style="width: 100%; max-height: auto; margin: 0px; padding: 0px">
                           </div>
                        </div>
                     </div> -->
                  </div>
               </div>
            </div>
         </div>

         <div class="modal-footer">
            <div class="col-12">
               <div class="row">
                  <div class="col-12">
                     <input type="text" [(ngModel)]="hotspot_infospot" placeholder="Entrer l'information de l'infospot!"
                        class="col-8" placeholder="Information concernant ce lien.">
                  </div>
                  <button type="button" (click)="on_submit_hspot()" class="btn btn-primary"
                     style="width: 100%; margin: 0em 0em 1em 0em">Ajouter un infospot</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Le html ci dessous ne s'affiche que si l'on est en mode normal(pas cardboard, pas stéréoscopique) -->
<div id="img-bottom" *ngIf="this.sky?.mode == 1">
   <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-12 col-sm-8">
         <div class="my-row">
            <div class="col-2" (click)="go_to_image(i)" *ngFor="let _pano of pano_img; let i=index">
               <img [src]="_pano" [alt]="_pano" [ngClass]="{'basic-border': true, 'selected-border': i == now_img}">
            </div>
         </div>
      </div>
      <div class="col-sm-2"></div>
   </div>
</div>