<div class="container-fluid">
   <div class="row">
      <div class="col-10">
         <div class="btn-fixed-control-hotspot-infospot">
            <button type="button" class="btn btn-primary" (click)="show_spot_modal('#infospot-modal')">i</button>
            <button type="button" class="btn btn-success" (click)="show_spot_modal('#hotspot-modal')">h</button>
         </div>

         <div class="btn-fixed-control-save-visit">
            <button type="button" class="btn" style="color: white;" (click)="save_online()"
               title="Sauvegarder la visite virtuelle(VR)"><i class="fas fa-cloud-upload-alt"></i></button>
         </div>
         <div id="progress"></div>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="infospot-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CREATION D'UN INFOSPOT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form (ngSubmit)="on_submit_infospot(f_spot)" #f_spot="ngForm" class="row">
               <input type="text" name="t" ngModel placeholder="Entrer l'information de l'infospot!" class="col-8">
               <button typeks="submit" class="btn btn-primary col-4">Ajouter un infospot</button>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="hotspot-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CREATION D'UN HOTSPOT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-12">
                  <div class="row">
                     <div class="col-12" id="img-list">
                        <div class="row">
                           <div class="col-4" (click)="select_next_image(i)" *ngFor="let _pano of pano_img; let i=index"
                              [ngStyle]="{ border: set_border(i) }">
                              <img [src]="_pano" [alt]="_pano">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="modal-footer">
            <div class="col-12">
               <div class="row">
                     <input type="text" [(ngModel)]="hotspot_infospot" placeholder="Entrer le libelle de ce lien!" class="col-8">
                     <button type="button" (click)="on_submit_hspot()" class="btn btn-success col-4">Ajouter ce lien</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Le html ci dessous ne s'affiche que si l'on est en mode normal(pas cardboard, pas stéréoscopique) -->
<div id="img-bottom" *ngIf="this.sky?.mode == 1 && pano_img.length > 1">
   <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-12 col-sm-8">
         <div class="my-row">
            <div class="col-2" (click)="go_to_image(i)" *ngFor="let _pano of pano_img; let i=index">
               <img [src]="_pano" [alt]="_pano" [ngClass]="{'basic-border': true, 'selected-border': i == now_img}">
            </div>
         </div>
      </div>
      <div class="col-sm-2"></div>
   </div>
</div>


<div id="desc-container" style="display:none">
   <style>
      #desc-container {
         max-width: 500px;
         /* max-height: 500px; */
         min-width: 200px;
         height: 100px;
         /* min-height: 250px; */
         background: #fff;
         color: #000;
         border-radius: 3px;
         overflow: auto;
         -webkit-overflow-scrolling: touch;
      }

      #desc-container>iframe {
         border: none;
         width: 100%;
      }

      .title {
         font-size: 1.25em;
         text-align: center;
         padding: 3px;
      }

      .text {
         padding: 0 20px 20px 20px;
      }
   </style>
   <!-- <iframe src="https://www.youtube.com/embed/D7icsuamx5E"></iframe> -->
   <div class="title">China's Forgotten WarWWII came to the small town of Tai’erzhuang in central China – and it was
      never the same again. The
      town was strategically placed, on the north-south transport railway corridor and the ancient Grand Canal, and so
      was a focus of the Japanese Imperial army as it advanced. Li Jing Shan was only a child when his family fled the
      fighting. They returned to find their home, and most of the town, in ruins</div>
   <!-- <div class="text">WWII came to the small town of Tai’erzhuang in central China – and it was never the same again. The
       town was strategically placed, on the north-south transport railway corridor and the ancient Grand Canal, and so
       was a focus of the Japanese Imperial army as it advanced. Li Jing Shan was only a child when his family fled the
       fighting. They returned to find their home, and most of the town, in ruins.</div> -->
</div>