<!-- <div class="container-fluid">
   <div class="row">
      <div class="col-12">
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let url of panoImg; let i=index"
               style="margin: 0px; padding: 0px">
               <img [src]="url" [alt]="url" style="width: 100%; max-height: auto; margin: 0.25em 0.25em; padding: 0px"
                  type="jpg" (dblclick)="start_edit(i)">
            </div>
            <input type="file" name="" id="" (change)="on_select($event)" multiple class="col-12">
         </div>
      </div>
   </div>
</div> -->


<div class="container-fluid">
   <div class="row">
      <div class="col-sm-2">
         <p class="text-design">WEVR</p>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
         <div class="row">
            <div class="col-12 col-sm-12 col-md-6"><button type="button" class="btn btn-primary my-button" (click)="go_to_editor()">Editer la visite</button></div>
            <div class="col-12 col-sm-12 col-md-6"><button type="button" class="btn btn-success my-button" id="btn-select-file">Ajouter une ou des images</button></div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let url of panoImg; let i=index" style="margin: 0px; padding: 0px">
               <input type="checkbox" style="position: absolute; top: 0.5vw; right: 0.5vw;">
               <img [src]="url" [alt]="url" style="width: 100%; max-height: auto; margin: 0%; padding: 0px; height: 182.3px;"
                  type="jpg" (dblclick)="start_edit(i)">
            </div>
            <input type="file" name="" id="" (change)="on_select($event)" multiple class="col-12" id="select-file">
         </div>
      </div>
   </div>
</div>