body, html, .container-fluid {
    background: #28a745;
    background: #000200;
    height: 100vh;
    color: white;
}

* {
    margin: 0em;
	padding: 0em;
    box-sizing: border-box;
}

.column-center {
    text-align: center;
    margin-top: 20vh;
}

.text-design {
    text-align: center;
    font-size: 15vw;
    font-weight: bolder;
    color: white;
}

.my-button {
    margin: 5%;
    width: 90%;
    text-align: center;
    font-size: 1.05em;
    font-weight: 150;
    height: 10vh;
    padding: 0.25em
}

@media only screen and (max-width: 768px) {
    .column-center {
        text-align: center;
        margin-top: 30vh;
    }

	.my-button {
        margin: 1% 10% 1% 10%;
        width: 80%;
        text-align: center;
        font-size: 1.0em;
        font-weight: 0;
        height: 8vh;
    }
}